<div class="mt-2">
    <h1 class="display-4 animated fadeIn fast">Acerca de</h1>
    <hr>
    <section class="box shadow-lg p-3 mb-5 rounded animate__animated animate__fadeInUp mb-5 bg-dark text-white">
        <div class="header">
            <img class="ícono-perfil" src="assets/img/foto_perfil.jpeg">
            <h1 class="user-name">Anthony Paul Altafuya Zambrano</h1>
        </div>
        <div class="bg-white text-black rounded-top">
            <ul class="redes-sociales">
                <li class="fa-solid fa-envelope">
                    <a href="mailto:altafuyapaul62@gmail.com">altafuyapaul62</a>
                </li>
                <li class="fa-brands fa-square-facebook">
                    <a href="https://www.facebook.com/A.P.A.Z10/" target="_blank">
                                    Paul</a>
                </li>
                <li class="fa-brands fa-square-instagram">
                    <a href="https://www.instagram.com/paul.zamm/" target="_blank">
                                    paul.zamm</a>
                </li>
            </ul>
        </div>
        <div>
            <div>
                <h3 class="text margen">Datos Personales:</h3>
            </div>
            <div class="row row-cols-2">
                <div class="col d-flex align-items-center mb-2">
                    <i class="fa-solid fa-school me-2"></i>
                    <p class="mb-0">Tecnologías de la Información</p>
                </div>
                <div class="col d-flex align-items-center">
                    <i class="fa-solid fa-location-dot me-2"></i>
                    <p class="mb-0">Machala, Guayas y 11ava Norte</p>
                </div>
                <div class="col d-flex align-items-center">
                    <i class="fa-solid fa-mobile me-2"></i>
                    <p class="mb-0">0968511290</p>
                </div>
                <div class="col d-flex align-items-center">
                    <i class="fa-solid fa-calendar me-2"></i>
                    <p class="mb-0">23 de Abril de 2004</p>
                </div>
            </div>
        </div>
    </section>
</div>